*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-color: rgba(1, 1, 16, 0.707);
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
}
.spananime{
    color: black;
    font-size: 20px;
    font-family: 'Kalam', cursive;
    width: 120px;
    height: 40px;
    background-color: white;
    border: 1px black dotted;
}
.main{
    width: 50%;
    height: 99vh; 
}
.mainbox{
    margin-left: 300px;
    margin-top: 130px;
}
.result{
    width: 49%;
    height: 99vh; 
}
.mainresult{
    width: 500px;
    height: 90px;
    background-color: white;
    margin-left: 130px;
    margin-top:200px;
    font-size: 50px;
    font-family: 'Kalam', cursive;
    text-align: center;
    border: 3px black dotted;
    
}
.resetbtn{
    width: 150px;
    height: 50px;
    background-color: white;
    border: none;
    margin-left: 130px;
    margin-top:30px;
    cursor: pointer;
    color: rgb(18, 2, 2);
    
}
.resetbtn:hover{
    background-color:rgba(242, 232, 232, 0.373) ;
    color: white;
}
.commonbox{
    border: 2px solid black;
    width: 130px;
    height: 130px;
    background-color: white;
    float: left;
    color: rgba(1, 1, 16, 0.707);
    font-size: 100px;
    font-family: 'Kalam', cursive;
    text-align: center;
    cursor: pointer;
}
.commonbox:hover{
    background-color: rgba(242, 232, 232, 0.373);
}
#box1,#box4,#box7{
    clear: left;
    border-left: none;
}
#box1,#box2,#box3{
    border-top: none;
}
#box3,#box6,#box9{
    border-right: none;
}
#box7,#box8,#box9{
    border-bottom: none;
}